{% extends 'header.html' %}

{% block body %}
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
{% include 'sidebar_administrator.html' %}
        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">Reseller Management Panel</li>
                <li class="breadcrumb-item active">MyLicense Key List</li>
            </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Notifications
                                </div>
                                <div class="card-block">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Transaction Date</th>
                                                <th>License Key</th>
                                                <th>Sender Name</th>
                                                <th>Receiver Name</th>
                                                <th>Received Date</th>
                                                <th>Sender and Receiver IP</th>
                                                <th>Type</th>
                                                <th>Validity / Qty</th>
                                                <th>Status</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in user_list.items %}
                                            <tr>
                                                <td>{{ i.transaction_date }}</td>
                                                <td>{{ i.license_key }}</td>
                                                <td>{{ i.sender_username }}</td>
                                                <td>{{ i.receiver_username }}</td>
                                                <td>{{ i.transaction_confirmed_date }}</td>
                                                <td>{{ i.transaction_login_ip }}</td>
                                                <td>{% if i.is_credit %}Credits{% else %}{{ i.subscription_type }}{% endif %}</td>
                                                <td>{{ i.qty }}</td>
                                                <td>
                                                    {% if i.confirmed %}Confirmed{% else %}Waiting for confirmation{% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ url_for('api.delete_key', key=i.license_key) }}">Delete</a>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <nav>
                                        <div class="pagination">
                                                {% if user_list.has_prev %}<li><a href="{{ url_for('admin_api.mykeys', page=user_list.prev_num) }}">Prev</a></li>{% endif %}
                                                {% if user_list.has_next %}<li><a href="{{ url_for('admin_api.mykeys', page=user_list.next_num) }}">Next</a></li>{% endif %}
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!--/col-->
                </div>
        </main>
</div>
{% include 'footer.html' %}

</body>
{% endblock %}
