{% extends 'header.html' %}

{% block body %}
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
{% include 'sidebar.html' %}
        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">Reseller Management Panel</li>
                <li class="breadcrumb-item active">Create Trial</li>
            </ol>
        <div class="container-fluid">
                <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Create User</strong>
                    </div>
                                <div class="card-block">
                        <form action="{{ url_for('create_user') }}" method="post" autocomplete="off">
                            {{ form.hidden_tag() }}
                            <div class="input-group mb-3">
                                 <span class="input-group-addon">
                                 <i class="icon-user"></i></span>
                                {{ form.first_name(placeholder="First Name", class="form-control ") }}
                                {{ form.last_name(placeholder="Last Name", class="form-control") }}
                            </div>
                        <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-people"></i>
                            </span>
                            {{ form.username(placeholder="Username", class="form-control") }}
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-addon">@</span>
                            {{ form.email(placeholder="Email", class="form-control") }}
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-lock"></i>
                            </span>
                            {{ form.password(placeholder="Password", class="form-control") }}
                        </div>

                        <div class="input-group mb-4">
                            <span class="input-group-addon"><i class="icon-lock"></i>
                            </span>
                            {{ form.confirm(placeholder="Confirm Password", class="form-control") }}
                        </div>
                        <div class="input-group mb-4 col-lg-1 col-offset-6 centered">
                            {{ form.captcha(class="form-control ") | safe }}
                        </div>

                        <button type="submit" class="btn btn-block btn-success">Create Account</button>
                    </div>
                    </form>
                                </form>
                            </div>
                        </div>

        </main>

        {% block aside %}
        {% endblock %}
    </div>

    {% include 'footer.html' %}
</body>
{% endblock %}


