{% extends 'header.html' %}

{% block body %}
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
{% include 'sidebar.html' %}
        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Notifications</li>
            </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Notifications
                                </div>
                                <div class="card-block">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Information</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in notification_list %}
                                            <tr>
                                                <td>{{ i.confirmed_date }}</td>
                                                <td>{% if i.notification_type == 'login' %}Successfully login to your web panel{% elif i.notification_type == 'signup' %}Someone just signup using your page{% else %}You changed your password{% endif %}</td>
                                                <td>{{ i.notification_type }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                     <nav>
                                        <div class="pagination">
                                            <ul>
                                                {% if notification_list.has_prev %}<li><a href="{{ url_for('profile_info', notification_list=notification_list.prev_num) }}">Prev</a></li>{% endif %}
                                                {% if notification_list.has_next %}<li><a href="{{ url_for('profile_info', notification_list=notification_list.next_num) }}">Next</a></li>{% endif %}
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!--/col-->
                </div>
        </main>
</div>
{% include 'footer.html' %}

</body>
{% endblock %}
