{% extends 'header.html' %}

{% block body %}
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
{% include 'sidebar.html' %}
        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Reset Account</li>
            </ol>
        <div class="container-fluid">
                <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Reset Account Confirmation</strong>
                    </div>
                                <div class="card-block">
                                    <form action="{{ url_for('api.reset_account') }}" method="post">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            <label for="type">Confirmation</label>
                                            {{ form.confirm(class="form-control", placeholder="Please type \'YES\'") }}
                                            </div>
                                        </div>
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Reset Account</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Information</strong>
                                </div>
                                <div class="card-block">
                                    <p>This will revert back your account to normal connection status!</p>
                                    <p>Note: <strong>RESETTING YOUR ACCOUNT MAY CAUSE PROBLEM WITH YOUR CURRENT SESSION</strong></p>
                                </div>
                            </div>
                        </div>
             </div>
        </main>

        {% block aside %}
        {% endblock %}
    </div>

    {% include 'footer.html' %}
</body>
{% endblock %}


