{% extends 'header.html' %}

{% block body %}
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
{% include 'sidebar.html' %}
        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">{{ page_title }}</li>
            </ol>
        <div class="container-fluid">
                <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Upload Image</strong>
                    </div>
                                <div class="card-block">
                                    {% if type == 1 %}
                                    <form action="{{ url_for('upload_profile') }}" method="post" enctype="multipart/form-data">
                                        {% else %}
                                        <form action="{{ url_for('upload_cover') }}" method="post" enctype="multipart/form-data">
                                        {% endif %}
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            <label for="type">Input image file</label>
                                            {{ form.upload(class="form-control", accept="image/*") }}
                                            </div>
                                        </div>
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Upload</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Information</strong>
                                </div>
                                <div class="card-block">
                                    <p>Maximum image file is 5MB.</p>
                                    <p>Note: Upload square image type image for your profile picture and 1500px by 1000px for cover photo</p>
                                </div>
                            </div>
                        </div>
             </div>
        </main>

        {% block aside %}
        {% endblock %}
    </div>

    {% include 'footer.html' %}
</body>
{% endblock %}


